body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: justify;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.top-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-part{
    width: 50%;
    margin: 40px 96px;
}
.half-part img{
    width: 100%;
}
.hire-button{
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient( #f73e66, lightsalmon);
    border-radius: 5px;
}
.dream-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
}
.full-developer{
    border-left: 10px solid;
    border-image: linear-gradient(#f03527, salmon);
    border-image-slice: 1;
    margin-left: 5%;
    margin-bottom: 20px;
}
.baby-developer{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}
footer{
    text-align: center;
    margin-top: 7%;
}